<!-- Featured Employer Start -->
<div
  class="featured-employer section pt-115 pt-lg-95 pt-md-75 pt-sm-55 pt-xs-45"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title-wrap mb-45">
          <div class="section-title">
            <span>JOB FROM EMPLOYERS</span>
            <h3 class="title">Companies Spotlight</h3>
          </div>
          <div class="jetapo-link">
            <a href="index.html#"
              >Browse All Employers <i class="lnr lnr-chevron-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-five-column no-gutters border-top-left">
      <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
        <!-- Single Employer Item Start -->
        <div class="employer-item item-border-bottom">
          <span class="featured-employer-label">Featured</span>
          <div class="employer-image">
            <img src="assets/images/companies_logo/logo-1.jpg" alt="" />
          </div>
          <div class="employer-info-top">
            <span class="employer-location"
              ><i class="lnr lnr-map-marker"></i> Beijing, Beijing</span
            >
            <h3 class="employer-name">
              <a href="employer-details.html">Digital Asset</a>
            </h3>
          </div>
        </div>
        <!-- Single Employer Item End -->
      </div>

      <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
        <!-- Single Employer Item Start -->
        <div class="employer-item item-border-bottom">
          <div class="employer-image">
            <img src="assets/images/companies_logo/logo-2.jpg" alt="" />
          </div>
          <div class="employer-info-top">
            <span class="employer-location"
              ><i class="lnr lnr-map-marker"></i> Victoria</span
            >
            <h3 class="employer-name">
              <a href="employer-details.html">Liquididea Design</a>
            </h3>
          </div>
        </div>
        <!-- Single Employer Item End -->
      </div>

      <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
        <!-- Single Employer Item Start -->
        <div class="employer-item item-border-bottom">
          <span class="featured-employer-label">Featured</span>
          <div class="rating">
            <span class="rating-point">4.3</span>
          </div>
          <div class="employer-image">
            <img src="assets/images/companies_logo/logo-3.jpg" alt="" />
          </div>
          <div class="employer-info-top">
            <span class="employer-location"
              ><i class="lnr lnr-map-marker"></i> Osaka, Osaka</span
            >
            <h3 class="employer-name">
              <a href="employer-details.html">Shippo Company</a>
            </h3>
          </div>
        </div>
        <!-- Single Employer Item End -->
      </div>

      <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
        <!-- Single Employer Item Start -->
        <div class="employer-item item-border-bottom">
          <span class="featured-employer-label">Featured</span>
          <div class="rating">
            <span class="rating-point">1.7</span>
          </div>
          <div class="employer-image">
            <img src="assets/images/companies_logo/logo-4.jpg" alt="" />
          </div>
          <div class="employer-info-top">
            <span class="employer-location"
              ><i class="lnr lnr-map-marker"></i> Chicago, California</span
            >
            <h3 class="employer-name">
              <a href="employer-details.html"
                >Alpha Investing <i class="fas fa-check-circle"></i
              ></a>
            </h3>
          </div>
        </div>
        <!-- Single Employer Item End -->
      </div>

      <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
        <!-- Single Employer Item Start -->
        <div class="employer-item item-border-bottom">
          <span class="featured-employer-label">Featured</span>
          <div class="rating">
            <span class="rating-point">5.0</span>
          </div>
          <div class="employer-image">
            <img src="assets/images/companies_logo/logo-5.jpg" alt="" />
          </div>
          <div class="employer-info-top">
            <span class="employer-location"
              ><i class="lnr lnr-map-marker"></i> New York, New York</span
            >
            <h3 class="employer-name">
              <a href="employer-details.html">Radio Game</a>
            </h3>
          </div>
        </div>
        <!-- Single Employer Item End -->
      </div>

      <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
        <!-- Single Employer Item Start -->
        <div class="employer-item item-border-bottom">
          <div class="rating">
            <span class="rating-point">4.0</span>
          </div>
          <div class="employer-image">
            <img src="assets/images/companies_logo/logo-6.jpg" alt="" />
          </div>
          <div class="employer-info-top">
            <span class="employer-location"
              ><i class="lnr lnr-map-marker"></i>Seville, Andalusia</span
            >
            <h3 class="employer-name">
              <a href="employer-details.html"
                >Digital Vine <i class="fas fa-check-circle"></i
              ></a>
            </h3>
          </div>
        </div>
        <!-- Single Employer Item End -->
      </div>

      <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
        <!-- Single Employer Item Start -->
        <div class="employer-item item-border-bottom">
          <span class="featured-employer-label">Featured</span>
          <div class="rating">
            <span class="rating-point">5.0</span>
          </div>
          <div class="employer-image">
            <img src="assets/images/companies_logo/logo-7.jpg" alt="" />
          </div>
          <div class="employer-info-top">
            <span class="employer-location"
              ><i class="lnr lnr-map-marker"></i> London, England</span
            >
            <h3 class="employer-name">
              <a href="employer-details.html">Vsmarttech</a>
            </h3>
          </div>
        </div>
        <!-- Single Employer Item End -->
      </div>

      <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
        <!-- Single Employer Item Start -->
        <div class="employer-item item-border-bottom">
          <div class="rating">
            <span class="rating-point">3.9</span>
          </div>
          <div class="employer-image">
            <img src="assets/images/companies_logo/logo-8.jpg" alt="" />
          </div>
          <div class="employer-info-top">
            <span class="employer-location"
              ><i class="lnr lnr-map-marker"></i> Hamburg, Hamburg</span
            >
            <h3 class="employer-name">
              <a href="employer-details.html">BowThemes</a>
            </h3>
          </div>
        </div>
        <!-- Single Employer Item End -->
      </div>

      <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
        <!-- Single Employer Item Start -->
        <div class="employer-item item-border-bottom">
          <span class="featured-employer-label">Featured</span>
          <div class="rating">
            <span class="rating-point">5.0</span>
          </div>
          <div class="employer-image">
            <img src="assets/images/companies_logo/logo-9.jpg" alt="" />
          </div>
          <div class="employer-info-top">
            <span class="employer-location"
              ><i class="lnr lnr-map-marker"></i> Dhaka, Bangladesh</span
            >
            <h3 class="employer-name">
              <a href="employer-details.html">HasThemes</a>
            </h3>
          </div>
        </div>
        <!-- Single Employer Item End -->
      </div>

      <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
        <!-- Single Employer Item Start -->
        <div class="employer-item item-border-bottom">
          <div class="rating">
            <span class="rating-point">4.9</span>
          </div>
          <div class="employer-image">
            <img src="assets/images/companies_logo/logo-10.jpg" alt="" />
          </div>
          <div class="employer-info-top">
            <span class="employer-location"
              ><i class="lnr lnr-map-marker"></i> Hanoi, Hà Nội</span
            >
            <h3 class="employer-name">
              <a href="employer-details.html">HasTech</a>
            </h3>
          </div>
        </div>
        <!-- Single Employer Item End -->
      </div>
    </div>
  </div>
</div>
<!-- Featured Employer End -->
