<!-- Funfact Section Start  -->
<div class="funfact-section section mt--60 pb-50 pb-sm-0 pb-xs-0">
  <div class="container">
    <div class="row no-gutters border-top-left">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <!-- Single Funfact Start -->
        <div class="single-funfact">
          <div class="icon-img">
            <img src="assets/images/icons/candidates.png" alt="" />
          </div>
          <div class="funfact-content">
            <span class="counter">87,360</span>
            <span class="text theme-color">Candidates</span>
          </div>
        </div>
        <!-- Single Funfact End -->
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <!-- Single Funfact Start -->
        <div class="single-funfact">
          <div class="icon-img">
            <img src="assets/images/icons/total-jobs.png" alt="" />
          </div>
          <div class="funfact-content">
            <span class="counter">20,258</span>
            <span class="text theme-color">Total Jobs</span>
          </div>
        </div>
        <!-- Single Funfact End -->
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <!-- Single Funfact Start -->
        <div class="single-funfact">
          <div class="icon-img">
            <img src="assets/images/icons/employers.png" alt="" />
          </div>
          <div class="funfact-content">
            <span class="counter">8,650</span>
            <span class="text theme-color">Employers</span>
          </div>
        </div>
        <!-- Single Funfact End -->
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <!-- Single Funfact Start -->
        <div class="single-funfact">
          <div class="icon-img">
            <img src="assets/images/icons/job-applications.png" alt="" />
          </div>
          <div class="funfact-content">
            <span class="counter">50,299</span>
            <span class="text theme-color">job applications</span>
          </div>
        </div>
        <!-- Single Funfact End -->
      </div>
    </div>
  </div>
</div>
<!-- Funfact Section Start  -->
