
<!-- Job Location Section Start -->
<div
  class="job-location section pt-110 pt-lg-95 pt-md-75 pt-sm-55 pt-xs-45 pb-120 pb-lg-100 pb-md-80 pb-sm-60 pb-xs-50"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title-wrap mb-45">
          <div class="section-title">
            <span>JOB BY LOCATIONS</span>
            <h3 class="title">Top Places to Work</h3>
          </div>
          <div class="jetapo-link">
            <a href="index.html#"
              >Browse All Locations <i class="lnr lnr-chevron-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="job-location-slider row">
          <div class="col-lg-3">
            <!-- Single Job Location Start -->
            <div
              class="single-job-location bg-image"
              data-bg="./assets/images/location/petaling.jpg"
            >
              <div class="overlay-gradient"></div>
              <div class="location-info">
                <a class="city-name" href="job-with-map.html">Chicago</a>
                <span class="count-job">2 Open Jobs</span>
              </div>
            </div>
            <!-- Single Job Location End -->
          </div>

          <div class="col-lg-3">
            <!-- Single Job Location Start -->
            <div
              class="single-job-location bg-image"
              data-bg="./assets/images/location/jacksonville.jpg"
            >
              <div class="overlay-gradient"></div>
              <div class="location-info">
                <a class="city-name" href="job-with-map.html">New York</a>
                <span class="count-job">1 Open Jobs</span>
              </div>
            </div>
            <!-- Single Job Location End -->
          </div>

          <div class="col-lg-3">
            <!-- Single Job Location Start -->
            <div
              class="single-job-location bg-image"
              data-bg="./assets/images/location/houston.jpg"
            >
              <div class="overlay-gradient"></div>
              <div class="location-info">
                <a class="city-name" href="job-with-map.html">Da Nang</a>
                <span class="count-job">1 Open Jobs</span>
              </div>
            </div>
            <!-- Single Job Location End -->
          </div>

          <div class="col-lg-3">
            <!-- Single Job Location Start -->
            <div
              class="single-job-location bg-image"
              data-bg="./assets/images/location/Seville.jpg"
            >
              <div class="overlay-gradient"></div>
              <div class="location-info">
                <a class="city-name" href="job-with-map.html">Seville</a>
                <span class="count-job">1 Open Jobs</span>
              </div>
            </div>
            <!-- Single Job Location End -->
          </div>

          <div class="col-lg-3">
            <!-- Single Job Location Start -->
            <div
              class="single-job-location bg-image"
              data-bg="./assets/images/location/india.jpg"
            >
              <div class="overlay-gradient"></div>
              <div class="location-info">
                <a class="city-name" href="job-with-map.html">Hanoi</a>
                <span class="count-job">1 Open Jobs</span>
              </div>
            </div>
            <!-- Single Job Location End -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Job Location Section End -->
