
<!-- Blog Section Start  -->
<div
  class="blog-section section pt-115 pt-lg-95 pt-md-75 pt-sm-55 pt-xs-45 pb-90 pb-lg-70 pb-md-50 pb-sm-30 pb-xs-20"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title-wrap mb-45">
          <div class="section-title">
            <span> FROM OUR BLOG</span>
            <h3 class="title">Latest News & Post</h3>
          </div>
          <div class="jetapo-link">
            <a href="index.html#">
              Browse All Articles <i class="lnr lnr-chevron-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-30">
        <!-- Single Blog Start -->
        <div class="single-blog">
          <div class="blog-image">
            <a href="blog-details.html">
              <img src="assets/images/blog/blog1.jpg" alt="" />
            </a>
            <div class="blog-cat">
              <a href="index.html#" rel="category tag">Job Skills</a>
            </div>
          </div>
          <div class="blog-content">
            <h4 class="title">
              <a href="blog-details.html"
                >The Reason Why Software Developer Repeats As ‘Best Job’</a
              >
            </h4>
            <div class="blog-meta">
              <p class="blog-author">
                <i class="lnr lnr-user"></i>
                <span class="text">Posted:</span>
                <span class="author">Hien Tran</span>
              </p>
              <p class="blog-date-post">
                <i class="lnr lnr-clock"></i>Oct 24, 2019
              </p>
            </div>
            <p class="blog-desc">
              The news comes just after "full stack software developer" was
              named the
            </p>
            <a href="index.html#" class="read-more"
              >Read More <i class="lnr lnr-chevron-right"></i
            ></a>
          </div>
        </div>
        <!-- Single Blog End -->
      </div>

      <div class="col-lg-4 col-md-6 mb-30">
        <!-- Single Blog Start -->
        <div class="single-blog">
          <div class="blog-image">
            <a href="blog-details.html">
              <img src="assets/images/blog/blog2.jpg" alt="" />
            </a>
            <div class="blog-cat">
              <a href="index.html#" rel="category tag">News & Update</a>
            </div>
          </div>
          <div class="blog-content">
            <h4 class="title">
              <a href="blog-details.html"
                >7 Answers to the Most Frequently Asked Questions About Job</a
              >
            </h4>
            <div class="blog-meta">
              <p class="blog-author">
                <i class="lnr lnr-user"></i>
                <span class="text">Posted:</span>
                <span class="author">Hien Tran</span>
              </p>
              <p class="blog-date-post">
                <i class="lnr lnr-clock"></i>Oct 24, 2019
              </p>
            </div>
            <p class="blog-desc">
              The news comes just after "full stack software developer" was
              named the
            </p>
            <a href="index.html#" class="read-more"
              >Read More <i class="lnr lnr-chevron-right"></i
            ></a>
          </div>
        </div>
        <!-- Single Blog End -->
      </div>

      <div class="col-lg-4 col-md-6 mb-30">
        <!-- Single Blog Start -->
        <div class="single-blog">
          <div class="blog-image">
            <a href="blog-details.html">
              <img src="assets/images/blog/blog3.jpg" alt="" />
            </a>
            <div class="blog-cat">
              <a href="index.html#" rel="category tag">Career Advice</a>
            </div>
          </div>
          <div class="blog-content">
            <h4 class="title">
              <a href="blog-details.html"
                >The Question Everyone Working in Job Should Know to Answer</a
              >
            </h4>
            <div class="blog-meta">
              <p class="blog-author">
                <i class="lnr lnr-user"></i>
                <span class="text">Posted:</span>
                <span class="author">Hien Tran</span>
              </p>
              <p class="blog-date-post">
                <i class="lnr lnr-clock"></i>Oct 24, 2019
              </p>
            </div>
            <p class="blog-desc">
              The news comes just after "full stack software developer" was
              named the
            </p>
            <a href="index.html#" class="read-more"
              >Read More <i class="lnr lnr-chevron-right"></i
            ></a>
          </div>
        </div>
        <!-- Single Blog End -->
      </div>
    </div>
  </div>
</div>
<!-- Blog Section End -->
