<!--Error section start-->
<div
  class="error-section section bg_color--5 pt-70 pt-lg-50 pt-md-30 pt-sm-10 pt-xs-0 pb-120 pb-lg-100 pb-md-80 pb-sm-60 pb-xs-50"
>
  <div class="container">
    <div class="col-12">
      <div class="error-404 not-found">
        <div class="text-404"></div>
        <div class="text-label-404">
          <h1>oops !!! page not found</h1>
        </div>
        <div class="home-link">
          <span>We can't find the page you're locking for. You can either </span
          ><a href="404.html#">
            return to the previous page, visit our home page </a
          ><span> or search for something else. </span>
        </div>
        <div class="search-404">
          <form action="404.html#">
            <div class="search-box">
              <input
                type="search"
                name="s"
                placeholder="Search for ..."
                class="top-search"
              />
              <button type="submit" class="search-submit">
                <i class="lnr lnr-magnifier"></i>
                <span>Search</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Error section end-->
