<!--slider section start-->
<div class="hero-section section position-relative">
  <!--Hero Item start-->
  <div class="hero-item bg_image--1">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!--Hero Content start-->
          <div class="hero-content-2 left">
            <h2 class="title">Bolsa de trabajo</h2>
            <h3 class="sub-title">Para Profesionales</h3>
            <p>
              Jobs & Job search. Find jobs in global. Executive jobs & work.
              Employment
            </p>

            <div class="job-search-wrap mt-90 mt-md-70 mt-sm-50 mt-xs-30">
              <div class="job-search-form">
                <form action="index.html#">
                  <div class="row row-5">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                      <!-- Single Field Item Start  -->
                      <div class="single-field-item">
                        <i class="lnr lnr-magnifier"></i>
                        <input
                          placeholder="What jobs you want?"
                          name="keyword"
                          type="text"
                        />
                      </div>
                      <!-- Single Field Item End  -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                      <!-- Single Field Item Start  -->
                      <div class="single-field-item">
                        <i class="lnr lnr-list"></i>
                        <select class="nice-select wide">
                          <option value="1">All categories</option>
                          <option value="2">Accounting</option>
                          <option value="3">Broadcasting</option>
                          <option value="4">Customer Service</option>
                          <option value="5">Digital Marketing</option>
                          <option value="6">Finance & Accounting</option>
                          <option value="7">Game Mobile</option>
                          <option value="8">Graphics & Design</option>
                          <option value="9">Human Resources</option>
                          <option value="10">Medical Doctor</option>
                          <option value="11">Restaurant</option>
                          <option value="12">Sale & Marketing</option>
                          <option value="13">Sale Assistance</option>
                          <option value="14">Science & Analitycs</option>
                          <option value="15">Teachers</option>
                          <option value="16">Web & Software Dev</option>
                          <option value="17">Writing & Translations</option>
                        </select>
                      </div>
                      <!-- Single Field Item End  -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                      <!-- Single Field Item Start  -->
                      <div class="single-field-item">
                        <i class="lnr lnr-map-marker"></i>
                        <input
                          class="input-field input-field-location"
                          placeholder="Location"
                          name="location"
                          type="text"
                        />
                        <span class="btn-action-location">
                          <i class="far fa-dot-circle"></i>
                        </span>
                      </div>
                      <!-- Single Field Item End  -->
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                      <div class="submit-btn">
                        <button class="ht-btn" type="submit">Search</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="trending-keywords">
                <div class="keywords">
                  <span class="title">Trending Keywords</span>
                  <ul>
                    <li><a href="index.html#">Account Manager</a></li>
                    <li><a href="index.html#">Administrative</a></li>
                    <li><a href="index.html#">Android</a></li>
                    <li><a href="index.html#">Angular</a></li>
                    <li><a href="index.html#">app</a></li>
                    <li><a href="index.html#">ASP.NET</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--Hero Content end-->
        </div>
      </div>
    </div>
  </div>
  <!--Hero Item end-->
</div>
<!--slider section end-->
