<div class="row">
    <div class="col-12">
        <!-- Column -->

        <div class="card box-info">
            <div class="card-body line-blue">
                <h4 class="card-title">Gestión de Testimonios</h4>
                <h5 class="card-subtitle">
                    Listado de Testimonios
                </h5>
                <div class="row">
                    <div class="col-12">
                        <div class="mat-elevation-z8">
                            <mat-table [dataSource]="dataSource">
                                <ng-container matColumnDef="id">
                                    <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        {{ element.id }}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="firstname">
                                    <mat-header-cell *matHeaderCellDef>
                                        Nombre
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        {{ element.firstname }}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="lastname">
                                    <mat-header-cell *matHeaderCellDef>
                                        Apellido
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        {{ element.lastname }}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="title">
                                    <mat-header-cell *matHeaderCellDef>
                                        Titulo
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        {{ element.title }}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="description">
                                    <mat-header-cell *matHeaderCellDef>
                                        Descripion
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        {{ element.description }}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="photo">
                                    <mat-header-cell *matHeaderCellDef>
                                        Foto
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        {{ element.photo }}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <button mat-icon-button (click)="onEdit(row)" matTooltip="Editar">
                        <mat-icon>edit</mat-icon>
                      </button>
                                        <button mat-icon-button color="warn" (click)="onDelete(row.id)" matTooltip="Eliminar">
                        <mat-icon>delete_outline</mat-icon>
                      </button>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="loading">
                                    <mat-footer-cell *matFooterCellDef colspan="6">
                                        Loading data...
                                    </mat-footer-cell>
                                </ng-container>
                                <ng-container matColumnDef="noData">
                                    <mat-footer-cell *matFooterCellDef colspan="6">
                                        No data.
                                    </mat-footer-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                            </mat-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>