<div class="row">
  <div class="col-12">
    <!-- Column -->
    <div class="card box-info">
      <div class="card-body line-blue">
        <h4 class="card-title">Gestión de Usuarios</h4>
        <h5 class="card-subtitle">
          Listado de usuarios
        </h5>
        <div class="col-8">
          <div class="mat-elevation-z8">
            <mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="firstname">
                <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
                   <mat-cell *matCellDef="let element">
                     {{ element.firstname }}
                   </mat-cell>
               </ng-container>
               <ng-container matColumnDef="loading">
                 <mat-footer-cell *matFooterCellDef colspan="6">
                    Loading data...
                 </mat-footer-cell>
               </ng-container>
               <ng-container matColumnDef="noData">
                 <mat-footer-cell *matFooterCellDef colspan="6">
                    No data.
                 </mat-footer-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
