<!-- Breadcrumb Section Start -->
<div
  class="breadcrumb-section section bg_color--5 pt-60 pt-sm-50 pt-xs-40 pb-60 pb-sm-50 pb-xs-40"
>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-breadcrumb-content">
          <ul class="page-breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li>Blog</li>
          </ul>
          <h1>Blog</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Section Start -->

<!-- Blog Section Start -->
<div
  class="blog-section section bg_color--5 pb-120 pb-lg-100 pb-md-80 pb-sm-60 pb-xs-50"
>
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-8">
        <div class="blog-wrapper">
          <div class="row">
            <div class="col-12">
              <!-- Single Blog Start -->
              <div class="single-blog-post mb-90 mb-xs-50">
                <div class="blog-image">
                  <a href="blog-details.html">
                    <img src="assets/images/blog/blog4.jpg" alt="" />
                  </a>
                </div>
                <div class="blog-content">
                  <ul class="post-meta">
                    <li><span class="feature-post">Sticky post </span></li>
                    <li>
                      <i class="lnr lnr-user"></i
                      ><a href="blog.html#">Hien Tran</a>
                    </li>
                    <li>
                      <i class="lnr lnr-file-add"></i
                      ><a href="blog.html#">Job Skills</a>
                    </li>
                    <li>
                      <i class="lnr lnr-clock"></i
                      ><a href="blog.html#"> Sep 25, 2019</a>
                    </li>
                  </ul>
                  <h4 class="title">
                    <a href="blog-details.html"
                      >10 Best Facebook Pages of All Time About Freelancer</a
                    >
                  </h4>
                  <p class="blog-desc">
                    The news comes just after "full stack software developer"
                    was named the fastest-growing job of 2018 in a data analysis
                    conducted by another site and LinkedIn's annual Emerging
                    Jobs report said blockchain developer is the top
                    sought-after position among all occupations in what is
                    becoming an increasingly familiar pattern.
                  </p>
                  <a
                    href="blog-details.html"
                    class="ht-btn theme-btn theme-btn-two"
                    >View more <i class="lnr lnr-chevron-right"></i
                  ></a>
                </div>
              </div>
              <!-- Single Blog End -->
            </div>

            <div class="col-12">
              <!-- Single Blog Start -->
              <div class="single-blog-post mb-90 mb-xs-50">
                <div class="blog-image blog-gallery-slider">
                  <a href="blog-details.html">
                    <img src="assets/images/blog/blog8.jpg" alt="" />
                  </a>
                  <a href="blog-details.html">
                    <img src="assets/images/blog/blog5.jpg" alt="" />
                  </a>
                  <a href="blog-details.html">
                    <img src="assets/images/blog/blog6.jpg" alt="" />
                  </a>
                  <a href="blog-details.html">
                    <img src="assets/images/blog/blog7.jpg" alt="" />
                  </a>
                </div>
                <div class="blog-content">
                  <ul class="post-meta">
                    <li>
                      <i class="lnr lnr-user"></i
                      ><a href="blog.html#">Hien Tran</a>
                    </li>
                    <li>
                      <i class="lnr lnr-file-add"></i
                      ><a href="blog.html#">Job Skills</a>
                    </li>
                    <li>
                      <i class="lnr lnr-clock"></i
                      ><a href="blog.html#">Oct 24, 2019</a>
                    </li>
                  </ul>
                  <h4 class="title">
                    <a href="blog-details.html"
                      >The Reason Why Software Developer Repeats As ‘Best
                      Job’</a
                    >
                  </h4>
                  <p class="blog-desc">
                    The news comes just after "full stack software developer"
                    was named the fastest-growing job of 2018 in a data analysis
                    conducted by another site and LinkedIn's annual Emerging
                    Jobs report said blockchain developer is the top
                    sought-after position among all occupations in what is
                    becoming an increasingly familiar pattern.
                  </p>
                  <a
                    href="blog-details.html"
                    class="ht-btn theme-btn theme-btn-two"
                    >View more <i class="lnr lnr-chevron-right"></i
                  ></a>
                </div>
              </div>
              <!-- Single Blog End -->
            </div>

            <div class="col-12">
              <!-- Single Blog Start -->
              <div class="single-blog-post mb-90 mb-xs-50">
                <div class="blog-image">
                  <a href="blog-details.html">
                    <img src="assets/images/blog/blog9.jpg" alt="" />
                  </a>
                </div>
                <div class="blog-content">
                  <ul class="post-meta">
                    <li>
                      <i class="lnr lnr-user"></i
                      ><a href="blog.html#">Hien Tran</a>
                    </li>
                    <li>
                      <i class="lnr lnr-file-add"></i
                      ><a href="blog.html#">News & Update</a>
                    </li>
                    <li>
                      <i class="lnr lnr-clock"></i
                      ><a href="blog.html#"> Oct 24, 2019</a>
                    </li>
                  </ul>
                  <h4 class="title">
                    <a href="blog-details.html"
                      >7 Answers to the Most Frequently Asked Questions About
                      Job</a
                    >
                  </h4>
                  <p class="blog-desc">
                    The news comes just after "full stack software developer"
                    was named the fastest-growing job of 2018 in a data analysis
                    conducted by another site and LinkedIn's annual Emerging
                    Jobs report said blockchain developer is the top
                    sought-after position among all occupations in what is
                    becoming an increasingly familiar pattern.
                  </p>
                  <a
                    href="blog-details.html"
                    class="ht-btn theme-btn theme-btn-two"
                    >View more <i class="lnr lnr-chevron-right"></i
                  ></a>
                </div>
              </div>
              <!-- Single Blog End -->
            </div>

            <div class="col-12">
              <!-- Single Blog Start -->
              <div class="single-blog-post mb-90 mb-xs-50">
                <div class="blog-image">
                  <a href="blog-details.html">
                    <img src="assets/images/blog/blog4.jpg" alt="" />
                  </a>
                </div>
                <div class="blog-content">
                  <ul class="post-meta">
                    <li>
                      <i class="lnr lnr-user"></i
                      ><a href="blog.html#">Hien Tran</a>
                    </li>
                    <li>
                      <i class="lnr lnr-file-add"></i
                      ><a href="blog.html#">Job Skills</a>
                    </li>
                    <li>
                      <i class="lnr lnr-clock"></i
                      ><a href="blog.html#"> Sep 25, 2019</a>
                    </li>
                  </ul>
                  <h4 class="title">
                    <a href="blog-details.html"
                      >10 Best Facebook Pages of All Time About Freelancer</a
                    >
                  </h4>
                  <p class="blog-desc">
                    The news comes just after "full stack software developer"
                    was named the fastest-growing job of 2018 in a data analysis
                    conducted by another site and LinkedIn's annual Emerging
                    Jobs report said blockchain developer is the top
                    sought-after position among all occupations in what is
                    becoming an increasingly familiar pattern.
                  </p>
                  <a
                    href="blog-details.html"
                    class="ht-btn theme-btn theme-btn-two"
                    >View more <i class="lnr lnr-chevron-right"></i
                  ></a>
                </div>
              </div>
              <!-- Single Blog End -->
            </div>

            <div class="col-12">
              <!-- Single Blog Start -->
              <div class="single-blog-post mb-90 mb-xs-50">
                <div class="blog-image">
                  <a href="blog-details.html">
                    <img src="assets/images/blog/blog3.jpg" alt="" />
                  </a>
                </div>
                <div class="blog-content">
                  <ul class="post-meta">
                    <li>
                      <i class="lnr lnr-user"></i
                      ><a href="blog.html#">Hien Tran</a>
                    </li>
                    <li>
                      <i class="lnr lnr-file-add"></i
                      ><a href="blog.html#">Job Skills</a>
                    </li>
                    <li>
                      <i class="lnr lnr-clock"></i
                      ><a href="blog.html#"> Sep 25, 2019</a>
                    </li>
                  </ul>
                  <h4 class="title">
                    <a href="blog-details.html"
                      >The Question Everyone Working in Job Should Know to
                      Answer</a
                    >
                  </h4>
                  <p class="blog-desc">
                    The news comes just after "full stack software developer"
                    was named the fastest-growing job of 2018 in a data analysis
                    conducted by another site and LinkedIn's annual Emerging
                    Jobs report said blockchain developer is the top
                    sought-after position among all occupations in what is
                    becoming an increasingly familiar pattern.
                  </p>
                  <a
                    href="blog-details.html"
                    class="ht-btn theme-btn theme-btn-two"
                    >View more <i class="lnr lnr-chevron-right"></i
                  ></a>
                </div>
              </div>
              <!-- Single Blog End -->
            </div>

            <div class="col-12">
              <!-- Single Blog Start -->
              <div class="single-blog-post mb-90 mb-xs-50">
                <div class="blog-image">
                  <a href="blog-details.html">
                    <img src="assets/images/blog/blog2.jpg" alt="" />
                  </a>
                </div>
                <div class="blog-content">
                  <ul class="post-meta">
                    <li>
                      <i class="lnr lnr-user"></i
                      ><a href="blog.html#">Hien Tran</a>
                    </li>
                    <li>
                      <i class="lnr lnr-file-add"></i
                      ><a href="blog.html#">Job Skills</a>
                    </li>
                    <li>
                      <i class="lnr lnr-clock"></i
                      ><a href="blog.html#"> Sep 25, 2019</a>
                    </li>
                  </ul>
                  <h4 class="title">
                    <a href="blog-details.html"
                      >Miley Cyrus and Job: 10 Surprising Things They Have in
                      Common</a
                    >
                  </h4>
                  <p class="blog-desc">
                    The news comes just after "full stack software developer"
                    was named the fastest-growing job of 2018 in a data analysis
                    conducted by another site and LinkedIn's annual Emerging
                    Jobs report said blockchain developer is the top
                    sought-after position among all occupations in what is
                    becoming an increasingly familiar pattern.
                  </p>
                  <a
                    href="blog-details.html"
                    class="ht-btn theme-btn theme-btn-two"
                    >View more <i class="lnr lnr-chevron-right"></i
                  ></a>
                </div>
              </div>
              <!-- Single Blog End -->
            </div>

            <div class="col-12">
              <!-- Single Blog Start -->
              <div class="single-blog-post mb-90 mb-xs-50">
                <div class="blog-image">
                  <a href="blog-details.html">
                    <img src="assets/images/blog/blog1.jpg" alt="" />
                  </a>
                </div>
                <div class="blog-content">
                  <ul class="post-meta">
                    <li>
                      <i class="lnr lnr-user"></i
                      ><a href="blog.html#">Hien Tran</a>
                    </li>
                    <li>
                      <i class="lnr lnr-file-add"></i
                      ><a href="blog.html#">Job Skills</a>
                    </li>
                    <li>
                      <i class="lnr lnr-clock"></i
                      ><a href="blog.html#"> Sep 25, 2019</a>
                    </li>
                  </ul>
                  <h4 class="title">
                    <a href="blog-details.html"
                      >What Hollywood Can Teach Us About Job</a
                    >
                  </h4>
                  <p class="blog-desc">
                    The news comes just after "full stack software developer"
                    was named the fastest-growing job of 2018 in a data analysis
                    conducted by another site and LinkedIn's annual Emerging
                    Jobs report said blockchain developer is the top
                    sought-after position among all occupations in what is
                    becoming an increasingly familiar pattern.
                  </p>
                  <a
                    href="blog-details.html"
                    class="ht-btn theme-btn theme-btn-two"
                    >View more <i class="lnr lnr-chevron-right"></i
                  ></a>
                </div>
              </div>
              <!-- Single Blog End -->
            </div>

            <div class="col-12">
              <!-- Single Blog Start -->
              <div class="single-blog-post mb-90 mb-xs-50">
                <div class="blog-image">
                  <a href="blog-details.html">
                    <img src="assets/images/blog/blog10.jpg" alt="" />
                  </a>
                </div>
                <div class="blog-content">
                  <ul class="post-meta">
                    <li>
                      <i class="lnr lnr-user"></i
                      ><a href="blog.html#">Hien Tran</a>
                    </li>
                    <li>
                      <i class="lnr lnr-file-add"></i
                      ><a href="blog.html#">Job Skills</a>
                    </li>
                    <li>
                      <i class="lnr lnr-clock"></i
                      ><a href="blog.html#"> Sep 25, 2019</a>
                    </li>
                  </ul>
                  <h4 class="title">
                    <a href="blog-details.html"
                      >15 Secretly Funny People Working in Job</a
                    >
                  </h4>
                  <p class="blog-desc">
                    The news comes just after "full stack software developer"
                    was named the fastest-growing job of 2018 in a data analysis
                    conducted by another site and LinkedIn's annual Emerging
                    Jobs report said blockchain developer is the top
                    sought-after position among all occupations in what is
                    becoming an increasingly familiar pattern.
                  </p>
                  <a
                    href="blog-details.html"
                    class="ht-btn theme-btn theme-btn-two"
                    >View more <i class="lnr lnr-chevron-right"></i
                  ></a>
                </div>
              </div>
              <!-- Single Blog End -->
            </div>

            <div class="col-12">
              <!-- Single Blog Start -->
              <div class="single-blog-post">
                <div class="blog-image">
                  <a href="blog-details.html">
                    <img src="assets/images/blog/blog6.jpg" alt="" />
                  </a>
                </div>
                <div class="blog-content">
                  <ul class="post-meta">
                    <li>
                      <i class="lnr lnr-user"></i
                      ><a href="blog.html#">Hien Tran</a>
                    </li>
                    <li>
                      <i class="lnr lnr-file-add"></i
                      ><a href="blog.html#">Job Skills</a>
                    </li>
                    <li>
                      <i class="lnr lnr-clock"></i
                      ><a href="blog.html#"> Sep 25, 2019</a>
                    </li>
                  </ul>
                  <h4 class="title">
                    <a href="blog-details.html"
                      >All the Stats, Facts, and Data You’ll Ever Need to
                      Know</a
                    >
                  </h4>
                  <p class="blog-desc">
                    The news comes just after "full stack software developer"
                    was named the fastest-growing job of 2018 in a data analysis
                    conducted by another site and LinkedIn's annual Emerging
                    Jobs report said blockchain developer is the top
                    sought-after position among all occupations in what is
                    becoming an increasingly familiar pattern.
                  </p>
                  <a
                    href="blog-details.html"
                    class="ht-btn theme-btn theme-btn-two"
                    >View more <i class="lnr lnr-chevron-right"></i
                  ></a>
                </div>
              </div>
              <!-- Single Blog End -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4" id="sticky-sidebar">
        <div class="sidebar-wrapper">
          <div class="common-sidebar-widget">
            <div class="sidebar-search-form">
              <form action="blog.html#">
                <input type="text" name="search" placeholder="Search..." />
                <button type="submit" class="ht-btn search-btn">
                  <i class="fa fa-search"></i>
                </button>
              </form>
            </div>
          </div>
          <div class="common-sidebar-widget">
            <h2 class="sidebar-title">Categories</h2>
            <ul class="sidebar-list">
              <li><a href="blog.html#">Career Advice (2)</a></li>
              <li><a href="blog.html#">Job Skills (4)</a></li>
              <li><a href="blog.html#">News & Update (3)</a></li>
            </ul>
          </div>
          <div class="common-sidebar-widget">
            <h2 class="sidebar-title">Recent Post</h2>
            <div class="sidebar-blog pt-0">
              <a href="blog-details.html" class="image"
                ><img src="assets/images/rc-post/rc1.jpg" alt=""
              /></a>
              <div class="content">
                <span>Oct 24, 2019</span>
                <h5>
                  <a href="blog-details.html"
                    >The Reason Why Software Developer Repeats As ‘Best Job’</a
                  >
                </h5>
              </div>
            </div>
            <div class="sidebar-blog">
              <a href="blog-details.html" class="image"
                ><img src="assets/images/rc-post/rc2.jpg" alt=""
              /></a>
              <div class="content">
                <span>Oct 24, 2019</span>
                <h5>
                  <a href="blog-details.html"
                    >7 Answers to the Most Frequently Asked Questions About
                    Job</a
                  >
                </h5>
              </div>
            </div>
            <div class="sidebar-blog">
              <a href="blog-details.html" class="image"
                ><img src="assets/images/rc-post/rc1.jpg" alt=""
              /></a>
              <div class="content">
                <span>Oct 24, 2019</span>
                <h5>
                  <a href="blog-details.html"
                    >The Question Everyone Working in Job Should Know to
                    Answer</a
                  >
                </h5>
              </div>
            </div>
          </div>
          <div class="common-sidebar-widget">
            <h2 class="sidebar-title">Tags</h2>
            <ul class="sidebar-tag">
              <li><a href="blog.html#">Branding (9)</a></li>
              <li><a href="blog.html#">Consulting (9)</a></li>
              <li><a href="blog.html#">Contruction (9)</a></li>
              <li><a href="blog.html#">Manage (9)</a></li>
              <li><a href="blog.html#">Marketing (9)</a></li>
            </ul>
          </div>
          <div class="common-sidebar-widget">
            <h2 class="sidebar-title">Archives</h2>
            <ul class="sidebar-list">
              <li><a href="blog.html#">October 2019</a></li>
              <li><a href="blog.html#">September 2019</a></li>
              <li><a href="blog.html#">August 2019</a></li>
            </ul>
          </div>
          <div class="common-sidebar-widget">
            <h2 class="sidebar-title">Meta</h2>
            <ul class="sidebar-list">
              <li><a href="blog.html#">Log in</a></li>
              <li><a href="blog.html#">Entries feed</a></li>
              <li><a href="blog.html#">Comments feed</a></li>
              <li><a href="blog.html#">WordPress.org</a></li>
            </ul>
          </div>
          <div class="common-sidebar-widget">
            <div class="sidbar-image">
              <a href="blog.html#">
                <img src="assets/images/banner/ads.jpg" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Blog Section End -->
