<section class="section-proof section bg-white py-5 mt-5">
  <div class="container">
    <h3 class="section-title font-weight-bold text-center mb-5">
      Recomendaciones
    </h3>
    <div class="logos row mb-5">
      <div class="logo px-3 col-6 col-md-4 col-lg-2 mr-0 px-md-5 px-lg-4">
        <a class="logo-link" href="project.html">
          <img
            class="img-fluid svg-ie-fix"
            src="assets/images/logos/logo-1.svg"
          />
        </a>
      </div>
      <div class="logo px-3 col-6 col-md-4 col-lg-2 mr-0 px-md-5 px-lg-4">
        <a class="logo-link" href="project.html">
          <img
            class="img-fluid svg-ie-fix"
            src="assets/images/logos/logo-2.svg"
          />
        </a>
      </div>
      <div class="logo px-3 col-6 col-md-4 col-lg-2 mr-0 px-md-5 px-lg-4">
        <a class="logo-link" href="project.html">
          <img
            class="img-fluid svg-ie-fix"
            src="assets/images/logos/logo-3.svg"
          />
        </a>
      </div>
      <div class="logo px-3 col-6 col-md-4 col-lg-2 mr-0 px-md-5 px-lg-4">
        <a class="logo-link" href="project.html">
          <img
            class="img-fluid svg-ie-fix"
            src="assets/images/logos/logo-4.svg"
          />
        </a>
      </div>
      <div class="logo px-3 col-6 col-md-4 col-lg-2 mr-0 px-md-5 px-lg-4">
        <a class="logo-link" href="project.html">
          <img
            class="img-fluid svg-ie-fix"
            src="assets/images/logos/logo-5.svg"
          />
        </a>
      </div>
      <div class="logo px-3 col-6 col-md-4 col-lg-2 mr-0 px-md-5 px-lg-4">
        <a class="logo-link" href="project.html">
          <img
            class="img-fluid svg-ie-fix"
            src="assets/images/logos/logo-6.svg"
          />
        </a>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="testimonials">
      <div class="testimonial-item">
        <div class="position-relative p-5 shadow">
          <blockquote class="blockquote pl-4">
            <p class="mb-4">
              Steve is a great developer! Sed ut perspiciatis unde omnis
              iste natus error sit voluptatem accusantium doloremque
              laudantium, totam rem aperiam, eaque ipsa quae ab illo
              inventore veritatis et quasi architecto.
            </p>
            <i
              class="quote-icon fas fa-quote-left fa-lg position-absolute text-primary"
            ></i>
            <footer class="blockquote-footer presudo-hidden">
              <div class="media client-profile flex-column flex-md-row">
                <img
                  class="mr-md-3"
                  src="assets/images/clients/profile-1.jpg"
                  alt=""
                />
                <cite
                  title="Source"
                  class="quote-source d-inline-block font-style-normal pt-3"
                >
                  <span class="d-block">Adam Wells</span>
                  <span class="d-block">Product Manager, Google</span>
                  <span class="d-block position-absolute source-link">
                    <i
                      class="fab fa-linkedin fa-2x mr-1"
                      data-fa-transform="down-3"
                    ></i>
                    <a class="text-secondary" href="#" target="_blank">
                      View on Linkedin
                      <i
                        class="fas fa-external-link-alt ml-1"
                        data-fa-transform="up-1"
                      ></i>
                    </a>
                  </span>
                </cite>
              </div>
              <!--//media-->
            </footer>
          </blockquote>
        </div>
      </div>
      <!--//testimonial-item-->

      <div class="testimonial-item">
        <div class="position-relative p-5 shadow">
          <blockquote class="blockquote pl-4">
            <p class="mb-4">
              Steve is a great developer! Sed ut perspiciatis unde omnis
              iste natus error sit voluptatem accusantium doloremque
              laudantium, totam rem aperiam, eaque ipsa quae ab illo
              inventore veritatis et quasi architecto.
            </p>
            <i
              class="quote-icon fas fa-quote-left position-absolute text-primary"
            ></i>
            <footer class="blockquote-footer presudo-hidden">
              <div class="media client-profile">
                <img
                  class="mr-3"
                  src="assets/images/clients/profile-2.jpg"
                  alt=""
                />
                <cite
                  title="Source"
                  class="quote-source d-inline-block font-style-normal pt-3"
                >
                  <span class="d-block">Cheryl Bell</span>
                  <span class="d-block">Product Manager, Dropbox</span>
                  <span class="d-block position-absolute source-link">
                    <i
                      class="fab fa-linkedin fa-2x mr-1"
                      data-fa-transform="down-3"
                    ></i>
                    <a class="text-secondary" href="#" target="_blank">
                      View on Linkedin
                      <i
                        class="fas fa-external-link-alt ml-1"
                        data-fa-transform="up-1"
                      ></i>
                    </a>
                  </span>
                </cite>
              </div>
              <!--//media-->
            </footer>
          </blockquote>
        </div>
      </div>
      <!--//testimonial-item-->

      <div class="testimonial-item">
        <div class="position-relative p-5 shadow">
          <blockquote class="blockquote pl-4">
            <p class="mb-4">
              Steve is a great developer! Sed ut perspiciatis unde omnis
              iste natus error sit voluptatem accusantium doloremque
              laudantium, totam rem aperiam, eaque ipsa quae ab illo
              inventore veritatis et quasi architecto.
            </p>
            <i
              class="quote-icon fas fa-quote-left position-absolute text-primary"
            ></i>
            <footer class="blockquote-footer presudo-hidden">
              <div class="media client-profile">
                <img
                  class="mr-3"
                  src="assets/images/clients/profile-3.jpg"
                  alt=""
                />
                <cite
                  title="Source"
                  class="quote-source d-inline-block font-style-normal pt-3"
                >
                  <span class="d-block">David Lucas</span>
                  <span class="d-block">Product Manager, Dropbox</span>
                  <span class="d-block position-absolute source-link">
                    <i
                      class="fab fa-linkedin fa-2x mr-1"
                      data-fa-transform="down-3"
                    ></i>
                    <a class="text-secondary" href="#" target="_blank">
                      View on Linkedin
                      <i
                        class="fas fa-external-link-alt ml-1"
                        data-fa-transform="up-1"
                      ></i>
                    </a>
                  </span>
                </cite>
              </div>
              <!--//media-->
            </footer>
          </blockquote>
        </div>
      </div>
      <!--//testimonial-item-->

      <div class="testimonial-item">
        <div class="position-relative p-5 shadow">
          <blockquote class="blockquote pl-4">
            <p class="mb-4">
              Steve is a great developer! Sed ut perspiciatis unde omnis
              iste natus error sit voluptatem accusantium doloremque
              laudantium, totam rem aperiam, eaque ipsa quae ab illo
              inventore veritatis et quasi architecto.
            </p>
            <i
              class="quote-icon fas fa-quote-left position-absolute text-primary"
            ></i>
            <footer class="blockquote-footer presudo-hidden">
              <div class="media client-profile">
                <img
                  class="mr-3"
                  src="assets/images/clients/profile-4.jpg"
                  alt=""
                />
                <cite
                  title="Source"
                  class="quote-source d-inline-block font-style-normal pt-3"
                >
                  <span class="d-block">Brandon Campbell</span>
                  <span class="d-block">Product Manager, Airbnb</span>
                  <span class="d-block position-absolute source-link">
                    <i
                      class="fab fa-linkedin fa-2x mr-1"
                      data-fa-transform="down-3"
                    ></i>
                    <a class="text-secondary" href="#" target="_blank">
                      View on Linkedin
                      <i
                        class="fas fa-external-link-alt ml-1"
                        data-fa-transform="up-1"
                      ></i>
                    </a>
                  </span>
                </cite>
              </div>
              <!--//media-->
            </footer>
          </blockquote>
        </div>
      </div>
      <!--//testimonial-item-->
    </div>
    <!--//container-fluid-->
  </div>
  <!--//testimonials-->
</section>
