<!-- Feature Section Start -->
<div class="feature-section section bg-image-proparty bg_image--2 pt-40 pb-10">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <!-- Single Feature Start -->
        <div class="single-feature mb-30">
          <div class="feature-icon">
            <i class="far fa-address-card"></i>
          </div>
          <div class="feature-content">
            <h3 class="title">Complete Resume</h3>
            <p>Create resume free & get a job</p>
          </div>
        </div>
        <!-- Single Feature End -->
      </div>
      <div class="col-lg-4">
        <!-- Single Feature Start -->
        <div class="single-feature mb-30">
          <div class="feature-icon">
            <i class="far fa-file-alt"></i>
          </div>
          <div class="feature-content">
            <h3 class="title">Post Job Free</h3>
            <p>Approach a top million resumes</p>
          </div>
        </div>
        <!-- Single Feature End -->
      </div>
      <div class="col-lg-4">
        <!-- Single Feature Start -->
        <div class="single-feature mb-30">
          <div class="feature-icon">
            <i class="fa fa-search-location"></i>
          </div>
          <div class="feature-content">
            <h3 class="title">Find Work</h3>
            <p>Get the best jobs in your area</p>
          </div>
        </div>
        <!-- Single Feature End -->
      </div>
    </div>
  </div>
</div>
<!-- Feature Section End -->
