<!-- Testimonial Section Start -->
<div
  class="testimonial-section section bg-image-proparty bg_image--2 pt-115 pt-lg-95 pt-md-75 pt-sm-55 pt-xs-45 pb-180 pb-lg-160 pb-md-140 pb-sm-60 pb-xs-30"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title-wrap mb-45">
          <div class="section-title">
            <span> OUR HAPPY CLIENTS</span>
            <h3 class="title">From Testimonials</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="testimonial-slider row">
      <div class="col-lg-6">
        <!-- Single Testimonial Start -->
        <div class="single-testimonial">
          <div class="testimonial-author">
            <div class="testimonial-avatar">
              <img src="assets/images/testimonial/testimonial-1.png" alt="" />
            </div>
            <div class="testimonial-meta">
              <h5 class="name">Kilian Sanjeev</h5>
              <p class="text">
                <span class="position">CEO at</span>
                <span class="company theme-color">Alpha Investing</span>
              </p>
            </div>
            <span class="icon-quote theme-color">
              <i class="fas fa-quote-right"></i>
            </span>
          </div>
          <div class="testimonial-comment">
            <p>
              "I am so pleased with this product. Jopota Recruitment has
              completely surpassed our expectations. If you aren't sure, always
              go for Jopota Recruitment. Jopota Recruitment is the real deal!"
            </p>
          </div>
        </div>
        <!-- Single Testimonial End -->
      </div>

      <div class="col-lg-6">
        <!-- Single Testimonial Start -->
        <div class="single-testimonial">
          <div class="testimonial-author">
            <div class="testimonial-avatar">
              <img src="assets/images/testimonial/testimonial-2.png" alt="" />
            </div>
            <div class="testimonial-meta">
              <h5 class="name">Arina Sebastian</h5>
              <p class="text">
                <span class="position">Freelance Designer</span>
              </p>
            </div>
            <span class="icon-quote theme-color">
              <i class="fas fa-quote-right"></i>
            </span>
          </div>
          <div class="testimonial-comment">
            <p>
              "I am so pleased with this product. Jopota Recruitment has
              completely surpassed our expectations. If you aren't sure, always
              go for Jopota Recruitment. Jopota Recruitment is the real deal!"
            </p>
          </div>
        </div>
        <!-- Single Testimonial End -->
      </div>

      <div class="col-lg-6">
        <!-- Single Testimonial Start -->
        <div class="single-testimonial">
          <div class="testimonial-author">
            <div class="testimonial-avatar">
              <img src="assets/images/testimonial/testimonial-3.jpg" alt="" />
            </div>
            <div class="testimonial-meta">
              <h5 class="name">Kilian Sanjeev</h5>
              <p class="text">
                <span class="position">Freelance Designer at</span>
                <span class="company theme-color">Alpha</span>
              </p>
            </div>
            <span class="icon-quote theme-color">
              <i class="fas fa-quote-right"></i>
            </span>
          </div>
          <div class="testimonial-comment">
            <p>
              "I am so pleased with this product. Jopota Recruitment has
              completely surpassed our expectations. If you aren't sure, always
              go for Jopota Recruitment. Jopota Recruitment is the real deal!"
            </p>
          </div>
        </div>
        <!-- Single Testimonial End -->
      </div>
    </div>
  </div>
</div>
<!-- Testimonial Section End -->
