
<!-- CTA Section Start  -->
<div class="cta-section section bg_image--3 height-100vh pt-50 pt-xs-40">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="cta-wrap mb-45">
          <div class="cta-info">
            <span> Getting started to work</span>
            <h3 class="title">
              Don’t just find. Be found. Put your <br />
              CV in front of great employers
            </h3>
            <p>
              It helps you to increase your chances of finding a suitable job
              and let recruiters <br />
              contact you about jobs that are not needed to pay for advertising.
            </p>
            <a class="ht-btn lg-btn" href="index.html#"
              ><i class="lnr lnr-cloud-upload"></i>Upload Your Resume</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- CTA Section End  -->
